* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Finlandica";
  src: url("Finlandica-2018-08-15/WEB/finlandica-regularWeb.woff2")
      format("woff2"),
    url("Finlandica-2018-08-15/WEB/finlandica-regularWeb.woff") format("woff");
}

body {
  font-family: "Finlandica", sans-serif;
  background: #ffffff;
}

a {
  text-decoration: none;
}

/* Formatting of the logo */

header #logo {
  position: relative;
  height: 100%;
  width: 100%;
  color: #002ea1;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.05;
  margin: 3rem;
  text-transform: uppercase;
}

/* Header Area Formatting */

header nav ul {
  list-style-type: none;
  background-color: #002da2;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  padding: 1rem 0.5rem;
  margin: 0 1rem;
  display: block;
  border-bottom: 4px solid transparent; /* die Navigation springt nicht mehr beim hovern!*/
}

header nav ul li a:hover {
  border-bottom: 3px solid #ffffff;
  transition: ease-in 0.2s;
}

/* Hero-banner Formatting */

main #hero-banner {
  background: url(https://source.unsplash.com/1600x900/?city,business) no-repeat
    center center/cover;
  padding: 50px;
  height: 60vh;
  display: grid;
  grid-template-columns: 50px 50px auto 50px 40px;
  grid-template-rows: 25% 100px auto;
  color: #ffffff;
  opacity: 0.8;
}

main #hero-banner .head1 span {
  font-weight: 700;
}

main #hero-banner .head1 {
  font-weight: 400;
  margin: 0px 0px 15px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

main #hero-banner .head1,
.head2,
.head3 {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  margin: 15px;
}

main #hero-banner .head2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

main #hero-banner .head3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 4;
}
