* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: honeydew;
  font-family: "Noto Serif", serif;
}
header {
  background-color: rgb(0, 0, 0);
  font-family: "Noto Serif", serif;
  padding: 20px;
}

header ul li a {
  color: white;
  text-decoration: none;
  background-color: darkorange;
  padding: 10px;
}

header ul {
  list-style: none;
}

header ul li {
  display: inline-block;
}
/* Showing text aligned to an image in a proper way */
img {
  float: left;
  margin-right: 40px;
}

/* Here does the table styling start */

table {
  background: darkorange;
  color: white;
  border-collapse: collapse;
  width: 100%;
}
th {
  height: 50px;
}

tr {
  border-bottom: 5px solid black;
}

thead {
  background-color: black;
}

/* box styling and creation for the boxes page */

#boxes {
  background-color: green;
  background-image: url("https://images.unsplash.com/photo-1533738432289-7af44041678e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: aliceblue;
}

.box {
  background-color: beige;
  height: 200px;
  width: 200px;
  margin: 10px;
  display: inline-block;
}

.box1 {
  background-color: brown;
  border: 10px dotted yellow;
}

.box2 {
  background-color: pink;
  border: 10px dashed blue;
}

.box3 {
  background-color: purple;
  border: 10px solid grey;
}
.box4 {
  background-color: darkcyan;
  border-top: 10px double green;
  border-bottom: 10px double yellowgreen;
  border-left: 10px double blue;
  border-right: 10px double red;
}

.box5 {
  background-color: yellow;
  border: 50px solid black;
  border-radius: 40%;
}
